@font-face {
    font-family: 'Futura-Medium';
    src: local("fonts/Futura-Lig.ttf")
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rbga(186, 213, 245, 0.3);
    font-family: 'Hiragino Kaku Gothic pro w3';
    font-weight: 100;
    font-feature-settings: "palt"1;
}

p {
    color: #333;
}

section {
    width: 100%;
    text-align: center;
}

section h1 {
    font-size: 53px;
    font-family: 'Futura-Medium';
    font-weight: 100;
    color: #3d5cdb;
    text-align: center;
    padding-top: 40px;
}

section a {
    font-family: 'Hiragino Kaku Gothic pro w6';
    color: #fff;
    text-decoration: none;
    border-radius: 12px;
}

section a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main {
    width: 100%;
    height: auto;
    display: inline-block;
    margin: 0 auto;
    padding: 60px 0px;
}

.clear {
    clear: both;
}

@media screen and (max-width:479px) {
    section h1 {
        font-size: 30px;
    }

    .main {
        padding-top: 20px;
    }
}

/*フワッと*/
.fuwatAnime {
    -webkit-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-name: fuwatAnime;
    -ms-animation-name: fuwatAnime;
    animation-name: fuwatAnime;
    visibility: visible !important;
}

@-webkit-keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

/*スライダー*/
.slider {
    margin: 100px auto;
    width: 80%;
}

.slider img {
    height: auto;
    width: 100%;
}

/*slick setting*/
.slick-prev:before,
.slick-next:before {
    color: #000;
}

/*nav----------------------------------*/
nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    margin-right: 60px;
}

nav li {
    list-style-type: none;
    float: left;
    margin-top: 35px;
}

nav a {
    font-family: 'Futura-Medium';
    text-decoration: none;
    margin: 0 15px;
    font-size: 27px;
    color: #fff;
    transition: 0.5s;
}

nav a:hover {
    color: #3d5cdb;
}

@media screen and (max-width:479px) {
    nav {
        display: none;
    }
}

/*top----------------------------------*/
#top {
    height: 100vh;
}

#top .bx-wrapper {
    margin: 0 !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    background: none !important;
    overflow: hidden;
    height: 100vh;
}

#top .bx-viewport {
    height: 100vh !important;
}

#top .bx-wrapper img {
    height: 100vh !important;
    object-fit: cover;
}

#top {
    position: relative;
}

#top .title {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 900px;
    height: 320px;
}

#top .title img {
    width: 100%;
    margin-bottom: 30px;
}

#top .title h1 {
    color: #fff;
    font-size: 45px;
    font-style: italic;
}

@media screen and (max-width:479px) {
    #top .title {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #top .title h1 {
        font-size: 16px;
        margin-top: 20px;
        padding-top: 0;
    }

    #top .title img {
        margin-bottom: 0px;
    }
}

/*Introduction-------------------------*/

.box {
    width: 1040px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.box .content {
    width: 400px;
    text-align: center;
    font-size: 16px;
    line-height: 32px;
    padding-bottom: 15px;
    margin: 0px 50px;
}

.box p {
    text-align: left;
    font-weight: 100;
    margin-bottom: 30px;
}

.box .image {
    width: 500px;
}

.box .image img {
    width: 100%;
}

.box a {
    font-size: 20px;
    padding: 10px 50px;
}

/*box1---------*/
.box1 {
    margin-bottom: 90px;
}

.box1 a {
    background-color: #3d5cdb;
}

.box1 .content {
    margin-right: 50px;
    margin-left: 90px;
}

/*box2---------*/
.box2 {
    flex-direction: row-reverse;
}

.box2 a {
    background-color: #ffbf00;
}

.box2 .content {
    margin-right: 90px;
    margin-left: 50px;
}

/*media---------*/

@media screen and (max-width:479px) {
    .box {
        width: 100vw;
    }

    .box .image {
        margin: 20px;
    }

    .box1 {
        margin-bottom: 50px;
    }

    .box1 .content,
    .box2 .content {
        margin: 20px;
    }
}

/*Courses-------------------------*/
.course {
    width: 240px;
    background-color: #fff;
    border-radius: 12px;
    text-align: center;
    padding-bottom: 45px;
    margin: 30px 10px 0 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.course img {
    width: 100px;
    height: 140px;
    padding: 35px;
    object-fit: contain;
}

.course p {
    font-family: 'Hiragino Kaku Gothic pro w6';
    font-size: 14px;
    padding-bottom: 30px;
    color: #2e4767;
}

.course a {
    padding: 15px 30px;
    font-size: 12px;
    background-color: #555555;
}

.courses .main {
    width: 1040px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
}

#courses {
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
}

.courses {
    flex-basis: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 2;
}

#particles-js {
    width: 100%;
    height: 100%;
    background: #d9e6f7;
    margin: 0;
    display: grid;
    place-items: center center;
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (max-width:479px) {
    .courses .main {
        width: 100vw;
        padding-top: 10px;
    }

    .course {
        width: 160px;
        padding-bottom: 30px;
    }

    .course img {
        width: 70px;
        height: 70px;
        padding: 30px 30px 20px 30px;
    }

    .course p {
        font-size: 10px;
    }

    .course a {
        font-size: 10px;
        padding: 12px 6px;
        border-radius: 25px;
        margin: 30px 0px;
        width: 70px;
    }
}

/*color*/
.html a {
    background-color: #e16e3c;
}

.css a {
    background-color: #52a8da;
}

.unity a {
    background-color: #333333;
}

.ruby a {
    background-color: #ed5f59;
}

.js a {
    background-color: #f9d749;
}

.swift a {
    background-color: #ee7c47;
}

.go a {
    background-color: #8acddb;
}

/*Images---------------------------*/
#slick .bx-wrapper {
    width: 1100px;
    margin: 0 auto;
}

@media screen and (max-width:479px) {
    .slider {
        margin-top: 40px;
    }
}

/*Access---------------------------*/
#access .main iframe {
    width: 600px;
    height: 400px;
}

@media screen and (max-width:479px) {
    #access .main iframe {
        width: 100vw;
        height: 280px;
    }
}

/*footer---------------------------*/
footer p {
    text-align: center;
    color: #3d5cdb;
    padding: 25px;
    font-family: 'Hiragino Kaku Gothic pro w6';
}
